@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.AdminReportedUsersModel
@{
}
<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th>Report ID</th>
    <th>Report Message</th>
    <th></th>
    </thead>

    <tbody>
        @foreach (Report report in Model.AllReports)
        {
            <tr>
                <td>@report.ReportId</td>
                <td>@report.Message</td>
                <td>
                    <form method="post">
                        <button asp-page-handler="Ban" asp-route-email="@Model.GetReportedUser(report.Reported).Email" asp-route-id="@report.Reported" class="btn btn-danger" onclick="return confirm('Are you sure you want to ban this user from the application? The user and all their data will be deleted upon confirmation.')">
                            Ban from application
                        </button>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>