@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.AvailableRoutesModel
@{
}

@foreach (Route routes in Model.liste)
{
    if (routes.Space > 0 && routes.UserId != Model.userID)
    {
        <h2><a asp-page="Route" asp-route-id="@routes.RouteId">@routes.UserId route</a></h2>
        <br />
    }

}