@page
@model _2._semesterprojekttest.Pages.ContactUsModel
@{
}
<style>
    body {
        margin-bottom: 60px;
    }
</style>

<h1>Our departments</h1>
<br />
<ul>
    <li>
        <p>Rektorat</p>
        <p>+45 50 76 26 00</p>
        <p>zealand@zealand.dk</p>
    </li>
    <br />
    <li>
        <p>Maglegårdsvej 2, Roskilde</p>
        <p>+45 50 76 26 30</p>
        <p>roskilde@zealand.dk</p>
    </li>
    <li>
        <p>Lyngvej 21, Køge</p>
        <p>+45 50 76 26 20</p>
        <p>koege@zealand.dk</p>
    </li>
    <br />
    <li>
        <p>Bispegade 5, Nykøbing Falster</p>
        <p>+45 50 76 26 60</p>
        <p>nykoebingf@zealand.dk</p>
    </li>
    <br />
    <li>
        <p>Femøvej 3, Næstved</p>
        <p>+45 50 76 26 40</p>
        <p>naestved@zealand.dk</p>
    </li>
    <br />
    <li>
        <p>Bredahlsgade 1A, Slagelse</p>
        <p>+45 50 76 26 50</p>
        <p>slagelse@zealand.dk</p>
    </li>
    <br />
    <li>
        <p>Anders Larsensvej 7-9, Holbæk</p>
        <p>holbaek@zealand.dk</p>
    </li>
    <br />
</ul>