@page
@model _2._semesterprojekttest.Pages.CreateRouteModel
@{
    <div>
        <h5 class="pageTitle">Fill this form to create a route</h5>
        <form method="post">
            Address of the start of the route
            <br />
            <input name="AddStart" type="text" class="form-control input-lg" required autofocus />
            <br />
            Address of the Destination
            <br />
            <input name="AddEnd" type="text" class="form-control input-lg" required autofocus />
            <br />
            Day
            <br />
            <input type="radio" id="Monday" name="Day" value="1">
            <label for="Monday">Monday</label><br>
            <input type="radio" id="Tuesday" name="Day" value="2">
            <label for="Tuesday">Tuesday</label><br>
            <input type="radio" id="Wednesday" name="Day" value="3">
            <label for="Wednesday">Wednesday</label><br>
            <input type="radio" id="Thursday" name="Day" value="4">
            <label for="Thursday">Thursday</label><br>
            <input type="radio" id="Friday" name="Day" value="5">
            <label for="Friday">Friday</label><br>
            <input type="radio" id="Saturday" name="Day" value="6">
            <label for="Saturday">Saturday</label><br>
            <input type="radio" id="Sunday" name="Day" value="7">
            <label for="Sunday">Sunday</label><br>
            <br />
            Arrival Time
            <br />
            <input name="Arrival" type="time" class="form-control input-lg" required autofocus />
            <br />
            Available Space
            <br />
            <select name="Space" id="Space" required autofocus>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br />

            <input id="SaveButton" type="submit" class="btn btn-primary">
        </form>
    </div>
}
