@page
@model _2._semesterprojekttest.Pages.ImageUploadTESTModel
@{
    ViewData["Title"] = "UploadTest";

}
<h1>Upload a 
    @if (Model.TypeID == 0){<h1>Car Picture</h1>}
    @if (Model.TypeID == 1){<h1>Profile Picture</h1>}
    </h1>
@if (Model.ErrorPicture != null)
{
    <div class="bg-danger">
        <h5>
            @Model.ErrorPicture
        </h5>
    </div>
}
<form method="post">
    Upload file:<input id="Picture1" type="file" name="Picture1" /><br />
    <button asp-page-handler="Upload" asp-route-id="@Model.TypeID" class="btn btn-danger" onclick="return confirm('Do you want to upload this picture?')">
        Upload
    </button>
    <br />
</form>
