@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to Cruize!</h1>
    <p>Begin your journey by picking an available route or create one yourself.</p>
</div>
