@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to Cruize!</h1>
    <p>Begin your journey by picking an available route or create one yourself.</p>
</div>

<div class="flex-container">
    <div class="flex-item">
        <a asp-page="LoginLogoutUser"><img src="~/Images/phone1.jpg"></a>
    </div>

    <div class="flex-item">
        <a asp-page="CreateUser"><img src="~/Images/phone2.jpg"></a>
    </div>
</div>

@*<div class="flex-container">
    <img src="~/Images/phone1.jpg">
    <img src="~/Images/phone2.jpg">
</div>*@
