@page
@model _2._semesterprojekttest.Pages.ProfilePageModel
@{
}


<a class="text-dark" asp-area="" asp-page="/AvailableRoutes">Available routes</a>

<form method="post">
    <button asp-page-handler="LogOut"
            class="btn btn-dark btn-group-lg pull-right">
        Log ud
    </button>
</form>