@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.ProfileModel
@{
    ViewData["Title"] = "Test af Billed Upload";
}
<div class="text-center">
    <h1 class="display-4">Test af billed uploading</h1>
    <table>
        <thead>
        <tr>
            
            <th>Profile Picture</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Picture p in Model.Pictures)
        {
            if (p.TypeId == 1)
            {
                <tr>
                @{ String file = "data:image/jpeg;base64," + Convert.ToBase64String(p.Picture1);}
                @*<td style="height: 200px; width: 300px"><a asp-page="ImageUploadTEST"><img src="@file" /></a></td>*@
                <td><a asp-page="ImageUploadTEST"><img src="@file" height="100" width="100" class="rounded-circle"></a></td>
            </tr>
            }

            {
                
                <button type="submit" asp-page-handler="ImageUploadTEST" class="btn btn-dark btn-group-lg pull-right">
                    Click here to Upload one
                </button> 
                
        }
           
        }
        </tbody>
    </table>



</div>
