@page
@model _2._semesterprojekttest.Pages.ReportUserModel
@{
    
    <h1>Report @Model.ReportedUser.FirstName @Model.ReportedUser.LastName</h1>
    <div>
        @if (Model.GetPicture(Model.ReportedUser.UserId) == null)
        {
            <img src="/Images/emptyprofile.png" alt="profilepic" height="80" width="80" class="rounded-circle">
        }
        else
        {
            String file = "data:image/jpeg;base64," + Convert.ToBase64String(Model.GetPicture(Model.ReportedUser.UserId).Picture1);
            <img src="@file" alt="profilepic" height="80" width="80" class="rounded-circle">
        }
        <br/>
        Write your report here.
        <form method="post">
            <br/>
            <textarea rows="5" cols="60" name="Message"></textarea>
            <br/>
            <button asp-route-id="@Model.ReportedUser.UserId" class="btn btn-danger">
                Report
            </button>
        </form>
    </div>
}
