/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "Zealand";
    src: url("../fonts/ZealandDisplay-Regular.woff") format('woff');
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
    background-color: white;

}
.table-primary {
  background-color: #fff387;
  border-color: #000;
}
.primary th {
border-color: #000;
}
.ProfilePagerow {
    margin-left: -5px;
    margin-right: -5px;
}
.ProfilePagecolumn {
    float: left;
    width: 50%;
    padding: 5px;
}
.ProfilePageTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.ProfilePageth {
    text-align: left;
    padding: 16px;
}
.ProfilePageTR:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #fff387;
    border-color: #000;
    color: #000;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #fff387;
    color: #fff387;
}

.btn-primary:active {
    background-color: #000;
    border-color: #fff387;
    color: #fff387;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff387;
    background-color: #000;
    border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 243, 135, 0.5);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden;
}

.flex-container img {
    max-width: 50%;
    height: auto;
}

a:hover {
    color: black;
    text-decoration: none;
}

a {
    color: black;
}


    .flex-item {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .flex-item img {
        max-width: 100%;
        height: auto;
    }

#indexbody {
    padding-left: 0px;
    padding-right: 0px;
}

#navbarcontainer {
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar-togggler {
    width: 15%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
}

.navbar-brand {
    width: 50%;
    margin-right: 0;
}

#profileimage {
    width: 15%;
}

#profilepic {
    width: 65px;
    height: 65px;
}

#headerimageindex {
    font-family: Zealand;
    color: white;
}

#imageoverlayindexheader {
    background-image: url("../Images/headerpanorama2.jpg");
    margin: -15px;
    padding: 4%;
    background-size: 100% 165%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#logo {
    width: 193px;
    height: 65px;
}

.card {
    width: 50%;
    border: none;
    border-style: none;
    height: 100%;
}

.card a {
    height: 100%;
    color: white;
}

    .card a:hover {
        color: black;
        background-color: #fff387;
    }

.card-img {
    border: none;
    border-style: none;
    border-radius: 0;
    height: 100%;
}

.card-img:hover {
    opacity: 0;
}

.card:hover .card-img {
    opacity: 0;
}

#cardcontainer {
    height: 60vh;
    font-family: Zealand;
}

.card-img-overlay {
    top: 5%;
    left: 5%;
}


    .container {
        max-width: 100% !important;
    }

.navbar-expand-sm .navbar-toggler {
    display: inherit !important;
}

.navbar-expand-sm .navbar-collapse {
    align-items: flex-start;
    flex-basis: 100%;
}

.table {
    table-layout: fixed;
    width: 95%;
    word-break: break-word;
}

.navbar-nav {
    flex-direction: column;
    justify-content: space-between;
}

.collapse:not(.show) {
    display: none !important;
}

#loginimagetext {
    font-size: clamp(2rem, 10vw, 5rem);
}

@media (max-width: 992px) {
    .card {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    #profileimage {
        width: 3%;
    }
}

@media (max-width: 992px) {
    #cardcontainer {
        height: 36vh;
    }
}